<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:label="LiveSports"
        tools:replace="android:label">
        <meta-data
            android:name="tachiyomi.animeextension.class"
            android:value="eu.kanade.tachiyomi.animeextension.ko.livesports.LiveSports"
            tools:replace="android:value" />
        <meta-data
            android:name="tachiyomi.animeextension.version"
            android:value="14"
            tools:replace="android:value" />
    </application>
</manifest>
